
body {
    background-image: url("assets/images/BattleharborSTFighters.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

#photoRow {

    margin-left: 22px;
}

.firstRow {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    box-sizing: border-box;
    outline-style: solid;
    outline-color: blue;
    outline-width: 3px;
    align-items: center;
    background-color: white;

}

.GoLeft {
    padding-left: 20px;
    padding-top: 3px;


}

#ImgLook1, #ImgLook2, #ImgLook3, #ImgLook4 {
    width: 96px;
    height: 65px;
    
}

.name {
    text-align: center;
    font-size: 12px;
    font-family: 'Aldrich', sans-serif;
    margin-bottom: 0px;

}

#RPG {
    font-size: 54px;
   font-family: 'Aldrich', sans-serif;

}